body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

.header {
    padding: 20px 0px 5px 20px;
}

.author {
    padding-left: 50px;
}