@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.whiteboard {
    border: solid black 1px;
}

.App {
    /* margin-top: 15px; */
}

.App .navbar-brand {
    /* font-weight: bold; */
}

.Home .lander {
    padding: 80px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

.control-panel {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-panel .btn {
    margin-right: 25px;
}