#lobby-table {
    width: 60%;
    margin: 0 auto;
}

#lobby-table th, tr, td {
    text-align: center;
}

.actions button {
    margin-right: 10px;
}

.unlocked {
    background: url("../images/padlock-unlock.svg") no-repeat center;
    background-size: 14px;
}

.locked {
    background: url("../images/padlock.svg") no-repeat center;
    background-size: 14px;
}

.remove-lobby {
    background: url("../images/remove-symbol.svg") no-repeat center;
    background-size: 14px 25px;
}