.chat-box {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 25px;
    width: 400px;
    height: 402px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.chat-box * {
    box-sizing: border-box;
}

.messages {
    margin: 10px 0px 0px 10px;
    width: 380px;
    height: 325px;
    border: 1px solid black;
    overflow: auto;
}

.message {
    padding-left: 5px;
    display: flex;
}

.username {
    color: green;
    font-weight: bold;
    padding-right: 3px;
}

.message-body {
    word-wrap: break-word;
}

.from-me {
    color: blue;
}

.user-list td {
    font-size: 12px;
}

.user-list th {
    font-size: 16px;
}

input {
    box-sizing: border-box;
}

.side-bar {
    width: 12%;
    font-size: 1.5em
}

.draw-options {
    display: flex;
    flex-direction: row;
}

.draw-option {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}

.begin-btn {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 70%;
}